.App {
  text-align: center;
  position: relative;
}

section {
  position: fixed;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  &.w {
    border-top: 1px solid #ccc;
    width: 100%;
    top: 30px;
    left: 0;
  }
  &.h {
    border-left: 1px solid #ccc;
    height: 100%;
    top: 0;
    left: 30px;
  }
}
